<!-- <div class="row"> -->
    <!-- <div class="col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10"> -->
<div class="reviewItem">
    <div class="reviewDate font-brandon-grotesque">{{#formatDate model.attributes.date}}{{/formatDate}}</div>
    <div class="reviewerName font-brandon-grotesque">{{model.attributes.user.firstname}} {{model.attributes.user.lastname}}</div>
    <div class="bookType font-brandon-grotesque">{{model.attributes.book_type}}</div>
    <div>
        <span class="reviewRating">{{#starRate model.attributes.rating}}{{/starRate}}<span>
        <span class="reviewTitle font-brandon-grotesque">{{model.attributes.title}}</span>
    </div>
    <div class="reviewContent">{{model.attributes.content}}</div>
    <div class="statistics">{{model.attributes.helpful_count}} out of {{#sum model.attributes.helpful_count model.attributes.not_helpful_count}}{{/sum}} found this review helpful.</div>
    <div>
        <span class="helpfulQuestion">Was this review helpful to you? </span>
        <span class="actionButtons">
            <a href="#" data-type="helpful"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Helpful</a> - <a href="#" data-type="not_helpful"><i class="fa fa-thumbs-down" aria-hidden="true"></i> Not Helpful</a>
        </span>
    </div>
</div>
    <!-- </div> -->
<!-- </div> -->
